/* general styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

header,
nav,
main,
section,
article {
    display: block;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hefo-background: #1f2937;
    --he-title: #f9faf8;
    --he-secondary: #e5e7eb;
    --btn-color: #3882f6;
}
body {
    font-family: "Roboto", sans-serif;  
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

a {
    color: var(--btn-color);
}
/*styling the header and nav*/

header {
    width: 100%;
    height: 100vh;
    background-color: var(--hefo-background);
}

nav {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--btn-color);

}

nav  img {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--he-secondary);
    margin-left: 50px;
    border-radius: 8px;
}
nav .logo-text {
    font-size: 24px;
    color: var(--he-title);
    display: inline-block;
    position: relative;
    bottom: 13px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding:  0 20px;
    color: var(--he-secondary);
    font-size: 18px;
}

nav ul li a:hover {
    color: var(--btn-color);
}

/*hero section styles*/
#hero-section {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 50px;
}

#hero-section .hero-text, .hero-img {
    flex-basis: 38%;
}



#hero-section .hero-img {
    position: relative;
}
#hero-section .hero-img img{
    width: 100%;
}
#hero-section .hero-img p {
    position: absolute;
    bottom: 5px;
    right: 10px;

}

#hero-section .hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--he-title);

}

#hero-section .hero-text p {
    font-size: 18px;
    color: var(--he-secondary);

}
#hero-section .hero-text .btn {
    color: var(--he-secondary);
    background-color: var(--btn-color);
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 20px;

}

#hero-section .hero-text .btn:hover {
    background-color: var(--he-secondary);
    color: var(--hefo-background);
    
}

/*styling the products section*/
#products {
    padding: 40px 0;
}
#products h3 {
    font-size: 36px;
    font-weight: bolder;
    color: var(--hefo-background);
    text-align: center;
}

.products {
    text-align: center;
    margin: 50px 0;
}

.products .card-wrapper {
    width: 280px;
    height: 300px;
    display: inline-block;
    text-align: center;
}

.products .card-wrapper p {
    width: 200px; 
    margin: 0 auto;
    font-size: 1.1rem;
    display: inline-block;


}

.products .product-card {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid var(--btn-color);
    display: inline-block;
    margin: 0 auto;
    position: relative;

}

.products .product-card p {
    position: absolute;
    font-size: .5rem;
    bottom: 5px;
    right: 5px;
}

.products .card-wrapper:first-child > .product-card{
    background-image: url("./images/serjan-midili-MqNYQDmHPbc-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.products .card-wrapper:nth-child(2) > .product-card {
    background-image: url("./images/owen-lu-I97JLMBKs-k-unsplash.jpg");
    background-size: cover;
    background-position: center;

}

.products .card-wrapper:nth-child(3) > .product-card {
    background-image: url("./images/harley-davidson-52UeZUkp3Hs-unsplash.jpg");
    background-size: cover;
    background-position: center;

}

.products .card-wrapper:last-child > .product-card {
    background-image: url("./images/justin-bernatek-SrEWNfwPZBc-unsplash.jpg");
    background-size: cover;
    background-position: center;

}

.products .product-card:hover  {
    box-shadow: 0px 0px 20px var(--hefo-background);
}

/*testimonial part styles*/
#testimonial {
    background-color: var(--he-secondary);
    padding: 50px; 
    position: relative;
}
#testimonial blockquote {
    font-size: 36px;
    line-height: 52px;
    color: var(--hefo-background);
}

#testimonial p {
    color: #555;
    font-size: 26px;
    text-align: right;

}
#testimonial::before {
    content: "";
    border: 25px solid transparent;
    border-top: 25px solid var(--he-secondary);
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

/*contact section styling*/
#contact {
    padding: 100px 0;
    background-color: var(--he-title);
}
.contact-wrapper {
    background-color: var(--btn-color);
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    border-radius: 10px;
}
.contact-text h4 {
    font-size: 1.8rem;
    color: var(--he-title);
}

.contact-text p {
    font-size: 1.3rem;
    font-weight: light;
    color: var(--he-title);
}

.contact-wrapper button {
    font-size: 1.3rem;
    padding: 8px 15px;
    border: 3px solid var(--he-title);
    color: var(--he-title);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

/* styling the footer*/
footer {
    background-color: var(--hefo-background);
    border-top: 10px solid var(--btn-color);
    padding: 40px 0px;
    text-align: center;
}

footer p {
    font-size: 1.2rem;
    color: var(--he-title);

}

/*some media queries*/

@media (max-width:829px){
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav .logo {
        margin-bottom: 20px;
    }
    #hero-section {
        flex-direction: column;
        
    }
    #hero-section .hero-img {
        display: none;
    }
    #hero-section .hero-text {
        flex-basis: 100%;
        text-align: center;
    }
    .contact-wrapper {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }
    .contact-text h4 {
        font-size: 1.5rem;
    }
    .contact-text p {
        font-size: 1.155rem;
    }
    .contact-wrapper button {
        padding: 4px 8px;
        font-size: 1.012rem;
        margin-top: 3px;
    }
}