/* general styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

header,
nav,
main,
section,
article {
    display: block;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hefo-background: #1f2937;
    --he-title: #f9faf8;
    --he-secondary: #e5e7eb;
    --btn-color: #3882f6;
}
body {
    font-family: "Roboto", sans-serif;  
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    background-color: var(--hefo-background);
}

nav {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--he-secondary);

}

nav .logo img {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--he-secondary);
    margin-left: 50px;
    border-radius: 8px;
}


nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding:  0 20px;
    color: var(--he-secondary);
    font-size: 18px;
}

nav ul li a:hover {
    color: var(--btn-color);
}

/*hero section styles*/
#hero-section {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 50px;
}

#hero-section .hero-text, .hero-img {
    flex-basis: 38%;
}

#hero-section .hero-img {
    position: relative;
}
#hero-section .hero-img img{
    width: 100%;
}
#hero-section .hero-img p {
    position: absolute;
    bottom: 5px;
    right: 10px;

}

#hero-section .hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--he-title);

}

#hero-section .hero-text p {
    font-size: 18px;
    color: var(--he-secondary);

}
#hero-section .hero-text .btn {
    color: var(--he-secondary);
    background-color: var(--btn-color);
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 20px;


}